[submodule "cardano-mainnet-mirror"]
	path = cardano-mainnet-mirror
	url = https://github.com/input-output-hk/cardano-mainnet-mirror.git
[submodule "submodules/cardano-prelude"]
	path = submodules/cardano-prelude
	url = git@github.com:input-output-hk/cardano-prelude.git
